<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test verbose="1" name="Test">
        <classes>
            <class name="tests.basketMarket.BasketMarket"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->